node_modules/
.yarn/*
!.yarn/releases
!.yarn/patches
.expo/
/ios/
/android/
dist/
coverage/
.env*
!.env.example
*.log
.DS_Store
*.keystore
*.jks
*.p12
*.mobileprovision
.e2e/
credentials*.json
config/*
!config/dev
!config/prod
config/dev/*
config/prod/*
config/*/firebase/*
!config/dev/firebase
!config/prod/firebase
!config/dev/firebase/GoogleService-Info.plist
!config/dev/firebase/google-services.json
!config/prod/firebase/GoogleService-Info.plist
!config/prod/firebase/google-services.json

**/build/
**/.gradle/
